target/

universal_setup.dat
flexibility
**/*.tmp.zok
**/*.out
**/*.abi.json
**/*.r1cs
**/*.ztf
**/*.proving.key
**/*.verification.key
**/*.wtns
**/*.witness
**/*.proof.json
# Witness files
flexibility.*.json
